@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');

#atuacoes-container {
    background-color: #f7f8f9;
    padding: 5% 7% 0% 7%;
}

#atuacoes-container h1 {
    padding: 5% 0% 3% 4%;
    color: #161616;
    text-align: left;
    font: 2.5em Roboto, sans-serif;
}

#atuacoes-container hr {
    border: 1px solid #161616;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}
  
.grid-container div {
    background-color: #161616;
    color: #fff;
    margin: 2%;
    border-radius: 8px;
    box-shadow: 5px 8px 8px 5px rgba(0, 0, 0, 0.8);
    padding: 2% 5% 0% 5%;
    font-size: 20px;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;

}

.grid-container h4 {
    font-weight: 700;
    color: #161616;
    transition: color 0.5s;
}

.p-titulo {
    color: #161616;
    font-weight: 600;
}

.grid-container div:hover {
    background-color: #cfd8df;
    color: #808080;
    /*border: 1px solid #161616; */
}

@media(max-width: 700px) {
    .grid-container {
        grid-template-columns: auto;
    }

    #atuacoes-container h1 {
        font: 2em Roboto, sans-serif;
    }
}